<div class="modal-header">
    <h4 class="modal-title">A new version of LibParsio is available: {{needUpdateCtrl.newVersion}}</h4>
</div>
<div class="modal-body">
    <small>You can disable the check updates on startup in "General Settings".</small>
</div>
<div class="modal-footer">
    <button class="btn" type="button" ng-click="needUpdateCtrl.skip()">Skip This Release</button>
    <button class="btn btn-primary" type="button" ng-click="needUpdateCtrl.download()">Show Download Page</button>
</div>